{% extends 'store/userdashboard/loggedin.html' %}
{% load static %}

{% block content %}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
				<div class="card-header flex-c-m p-lr-10 trans-04 signupdesign">
					<h4>Add Address</h4>
				</div>
				<div class="card-body">
					<form method="POST"> {% csrf_token %}
						<div class="form-group">
							<label for="email">Country</label>
							<input type="text" value="{{country}}" class="form-control" id="email" placeholder="Enter Country" name="country" Required>
							{% if error and "country" in error %}
							<span style="color: red">{{error.country}}</span>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="email">State</label>
							<input type="text" value="{{state}}" class="form-control" id="email" placeholder="Enter State" name="state" Required>
							{% if error and "state" in error %}
							<span style="color: red">{{error.state}}</span>
							{% endif %}
	
						<div class="form-group">
							<label for="email">District</label>
							<input type="text" value="{{district}}" class="form-control" id="email" placeholder="Enter District" name="district" Required>
							{% if error and "district" in error %}
							<span style="color: red">{{error.district}}</span>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="email">Locality</label>
							<input type="text" value="{{locality}}" class="form-control" id="email" placeholder="Enter Locality" name="locality" Required>
							{% if error and "locality" in error %}
							<span style="color: red">{{error.locality}}</span>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="password">House</label>
							<input type="text" value="{{house}}" class="form-control" id="password" placeholder="Enter House" name="house" Required>
							{% if error and "house" in error %}
							<span style="color: red">{{error.house}}</span>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="password">Pincode</label>
							<input type="number" value="{{pincode}}" class="form-control" id="password" placeholder="Enter Pincode" name="pincode" Required>
							{% if error and "pincode" in error %}
							<span style="color: red">{{error.pincode}}</span>
							{% endif %}
						</div>
						<div class="justify-content-center ">
							<button type="submit" name="addressform" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 ">Add Address</button>

						</div>
						<div>
							{% if messages %}
								{% for message in messages %}
									<div class="alert alert-success" role="alert">
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						</div>
						
						<div >
							<h5 class=" text-success mt-3">
								{{context}} 
							</h5>
						  
					</div>
						

					</form>
				
				</div>
			</div>



			


			

			{% comment %} <select name="orderstatus" class="form-control" id="orderstatus">
				<option value="Ordered" {% if item.orderstatus == "Ordered" %}selected{% endif %}>Ordered</option>
				<option value="Cancelled" {% if item.orderstatus == "Cancelled" %}selected{% endif %}>Cancelled</option>
				<option value="Shipped" {% if item.orderstatus == "Shipped" %}selected{% endif %}>Shipped</option>
			</select> {% endcomment %}

			{% comment %} <select id="dropdown" name="address">
				{% for item in addressobjs  %}
				<option value="{{item.house}}">{{item.country}} <br>{{item.state}}<br>{{item.house}} </option>
				{% endfor %}
	
			</select>  {% endcomment %}

			{% comment %} <select id="dropdown">
			{% for item in addressobjs  %}
			<option value="option1">{{item.country}} <br>{{item.state}}<br>{{item.house}} </option>
			{% endfor %}

			</select> {% endcomment %}

        </div>


		



    </div>
	<div class="col-md-6">
		<div class="ml-5">
			<span class="block1-name ltext-102 trans-04 p-b-8">
				Checkout
			</span>
			<br><br><br>

			<table class="table table-borderless">
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity </th>
						<th>Amount </th>
					</tr>
				</thead>
				<tbody>
					{% for item in cartobjs  %}
					<tr>
						<td>{{item.product.name}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.total}}</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>


			{% comment %} {% for item in cartobjs  %}

			<td>{{item.product.name}} X {{item.quantity}} - {{item.total}}</td><br>



			{% endfor %} {% endcomment %}
			<br><br>
			<div class="row">
				<div class="col-md-4">
					<span class="block1-name ltext-102 trans-04 p-b-8">
						Cart Total 
					</span>
	
				</div>
				<div class="col-md-8">
					<span class="font-weight-bold display-4">Rs. {{totalsum}}/-</span>
	
				</div>

			</div>
			<div class="row">
				<div class="col-md-4">
					<span class="block1-name ltext-100 trans-04 p-b-8 font-weight-bold">
						Coupon
					</span>

				</div>
				<form method="POST" action=""> 
					{% csrf_token %}
					<div class="col-md-8">
						<select name="coupon_select" id="coupon_select">
							{% for coupon in couponobjs  %}						
							<option id="couponid" data-category-id="{{coupon.id}}" value="{{coupon.code}}">{{coupon.code}}</option>
							{% endfor %}
		
		
						</select>
	
					</div>
					<button type="submit" name="couponform" class="btn btn-primary" id="apply_coupon">Apply Coupon</button>



				</form>
				
				
				
			</div>

			<div class="row">

			</div>

			<div class="col-md-4 mt-5">
				<span class="block1-name ltext-100 trans-04 p-b-8 font-weight-bold">
					Choose Shipping Address 
				</span>

			</div>
			<form class="card-body" method="POST" action="{% url 'cashondelivery' %}">
				{% csrf_token %}
				<select id="dropdown" name="address">
					{% for item in addressobjs  %}
					<option value="{{item.house}}">{{item.house}} -  {{item.district}} - {{item.state}} - {{item.country}} <br><br> </option>
					{% endfor %}
		
				</select> 
				<div class="row mt-5">
					<button type="submit" name="action" value="cashondelivery" class="btn btn-primary">Cash On Delivery</button>
					{% comment %} <button type="submit" name="action" value="razorpay"  class="btn btn-success" id="rzp-button1">Pay with Razorpay</button> {% endcomment %}
				</div>
				

				
				



			</form>



			<button type="submit"   class="btn btn-success" id="rzp-button1">Pay with Razorpay</button>

			







			
			{% comment %} <a href=>
				<button type="button" class="btn btn-primary">Cash On Delivery</button>

			</a> {% endcomment %}
			
			
			
			


		</div>
	
		

	</div>
</div>
<br>







	











{% endblock content %}




{% block script %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	$(document).ready(function() {
		// Listen for click event on the "Apply Coupon" button
		$('#coupon_select').click(function(e) {
			e.preventDefault(); // Prevent the default form submission behavior
	
			// Get the selected coupon code from the select element
			var couponCode = $('#coupon_select').val();
	
			// Send an AJAX request to apply the coupon
			$.ajax({
				url: 'applycoupon/', // Replace with the actual URL to apply the coupon
				method: 'POST',
				data: {
					'coupon_code': couponCode
				},
				success: function(response) {
					// Handle the success response from the server
					console.log(response); // Display or process the response as needed
				},
				error: function(xhr, errmsg, err) {
					// Handle any errors that occur during the AJAX request
					console.log(xhr.status + ': ' + xhr.responseText);
				}
			});
		});
	});
	</script> {% endcomment %}






<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
	"key": "{{api_key}}", // Enter the Key ID generated from the Dashboard
	"amount": "{{amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
	//"currency": "INR",
	"name": "SK8 FACTORY ",
	"description": "Test Transaction",
	//"image": "https://example.com/your_logo",
	"order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
	"handler": function (response){
		alert(response.razorpay_payment_id);
		alert(response.razorpay_order_id);
		alert(response.razorpay_signature)
	},
	"prefill": {
	"name": "Gaurav Kumar",
	"email": "gaurav.kumar@example.com",
	"contact": "9000090000"
	},
	"notes": {
	  "address": "Razorpay Corporate Office"
	},
	"theme": {
		"color": "#3399cc"
	}
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
		//alert(response.error.code);
		alert(response.error.description);
		//alert(response.error.source);
		//alert(response.error.step);
		//alert(response.error.reason);
		//alert(response.error.metadata.order_id);
		//alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
	rzp1.open();
	e.preventDefault();
}
</script>
	
{% endblock script %}


