{% extends 'store/userdashboard/loggedin.html' %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
			<section class="section-slide">
				<div class="wrap-slick1">
					<div class="slick1">
						
		
						<div class="item-slick1" style=		"background-image: url({% static 'store/images/checktrend.jpg'  %});">
							<div class="container h-full">
								<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
									<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
										<span style="color:#f9ffe3;" class="ltext-101 cl2 respon2">
											Skate Boards
										</span>
									</div>
										
									<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
										<h5 style="font-size:40px;color:#f9ffe3 ;" class="ltext-201 cl2 p-t-19 p-b-43 respon1 ">
											SLICK DESIGNS!
										</h5>
									</div>
										
									<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
										<a href={% url 'loggedinproduct' %} class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											Shop Now
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% comment %} <div class="row">
				<img style="width:603px;height:300px" class="img-fluid ml-3 mt-3" src="{% static 'store/images/check.jpg'  %}" alt="">
			</div> {% endcomment %}
			{% comment %} <div class="row">
				<img style="object-fit: cover; width: 603px; height: 300px;" class="img-fluid ml-3 mt-3" src="{% static 'store/images/sbpic1.jpg' %}" alt="">
			  </div> {% endcomment %}
			{% comment %} <div class="mt-3" style="object-fit: cover; width: 603px; height: 500px;background-image: url({% static 'store/images/check.jpg'  %});">
				<div style="color:black;">
					<h4 class="m-5">
						HEY
					</h4>
					

				</div>
			

			</div> {% endcomment %}

			<section class="section-slide mt-2">
				<div class="wrap-slick1">
					<div class="slick1">
						
		
						<div class="item-slick1" style=		"background-image: url({% static 'store/images/uns.avif'  %});">
							<div class="container h-full">
								<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
									<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
										<span style="color:#f9ffe3;" class="ltext-101 cl2 respon2">
											UNIQUE
										</span>
									</div>
										
									<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
										<h5 style="font-size:40px;color:#f9ffe3 ;" class="ltext-201 cl2 p-t-19 p-b-43 respon1 ">
											Urban Surfers!
										</h5>
									</div>
										
									<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
										<a href={% url 'loggedinproduct' %} class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
											Shop Now
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			  
		</div>
            



			


			

			{% comment %} <select name="orderstatus" class="form-control" id="orderstatus">
				<option value="Ordered" {% if item.orderstatus == "Ordered" %}selected{% endif %}>Ordered</option>
				<option value="Cancelled" {% if item.orderstatus == "Cancelled" %}selected{% endif %}>Cancelled</option>
				<option value="Shipped" {% if item.orderstatus == "Shipped" %}selected{% endif %}>Shipped</option>
			</select> {% endcomment %}

			{% comment %} <select id="dropdown" name="address">
				{% for item in addressobjs  %}
				<option value="{{item.house}}">{{item.country}} <br>{{item.state}}<br>{{item.house}} </option>
				{% endfor %}
	
			</select>  {% endcomment %}

			{% comment %} <select id="dropdown">
			{% for item in addressobjs  %}
			<option value="option1">{{item.country}} <br>{{item.state}}<br>{{item.house}} </option>
			{% endfor %}

			</select> {% endcomment %}

    


		



 
	<div class="col-md-6 ">
		<div class="ml-5">
			<span class="block1-name ltext-102 trans-04 p-b-8">
				Checkout
			</span>
			<br><br><br>

			<table class="table table-borderless">
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity </th>
						<th>Amount </th>
					</tr>
				</thead>
				<tbody>
					{% for item in cartobjs  %}
					<tr>
						<td>{{item.product.name}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.total}}</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>


			{% comment %} {% for item in cartobjs  %}

			<td>{{item.product.name}} X {{item.quantity}} - {{item.total}}</td><br>



			{% endfor %} {% endcomment %}
			<br><br>
			<div class="row">
				<div class="col-md-4">
					<span class="block1-name ltext-102 trans-04 p-b-8">
						Cart Total 
					</span>
	
				</div>
				<div class="col-md-8">
					<span class="font-weight-bold " style="color:#717fe0; font-size:40px;" > Rs.</span>
					<span style="color:#717fe0; font-size:40px;" id="totalamount" class="font-weight-bold ">{{totalsum}}</span>
					<span class="font-weight-bold display-4" style="color:#717fe0;" > /-</span>
	
				</div>
				

			</div>
			<hr>
			<br><br><br>
			<div class="row">
				<div class="col-md-4 pt-2">
					<span class="block1-name ltext-100 trans-04 p-b-8 font-weight-bold">
						Choose Coupon
					</span>

				</div>
				<br><br>
				
					{% csrf_token %}
					 <div class="col-md-8">
						<select name="coupon_select" id="coupon_select" class="form-control">
							{% for coupon in couponobjs  %}						
							<option id="couponid" data-category-id="{{coupon.id}}" value="{{coupon.code}}">{{coupon.code}}</option>
							{% endfor %}				
						</select>	
					</div> 
					

	
				
			</div>
			<div class="row justify-content-end">
				<button  id="applycoupon" name="couponform" class="flex-c-m stext-101 cl0 size-100 btn bg1 bor1 hov-btn2 p-lr-15 trans-04 mr-3" id="apply_coupon">Apply Coupon</button> 


			</div>
			<br>
			<div class="text-success" id="couponmessage">
				

			</div>
			<hr>

			<div class="row">

			</div>
			<div class="row">
				<div class="col-md-4 pt-4">
					<span class="block1-name ltext-100 trans-04 p-b-8 font-weight-bold">
						Shipping Address 
					</span>
	
				</div>
				
				
				<div class="col-md-8">
	
					<form class="card-body" method="POST" action="{% url 'cashondelivery' %}">
						{% csrf_token %}
						<select id="addressdropdown" name="address" class="form-control" >
							{% for item in addressobjs  %}
							<option value="{{item.house}}">{{item.house}} -  {{item.district}} - {{item.state}} - {{item.country}} <br><br> </option>
							{% endfor %}
				
						</select> 
						
	
				</div>

			

			</div>
			<div class="row">
				<p style="margin-left:390px;cursor:pointer;" id="addaddress" class="flex-c-m stext-101 cl0 btn bg1  hov-btn2 p-lr-15 trans-04  mt-5 text-center"  >&#43; Add New Address </p>
			</div>
			<hr>
			<div class="row mt-5">
				<div class="col-md-6">
					<span class="block1-name ltext-100 trans-04 p-b-8 font-weight-bold">
						Confirm Payment
					</span>
					
				</div>
				<div class="col-md-6">
					<div class="row">
						<i class="fas fa-money-bill-wave mr-2 mt-3"></i>
					<button type="submit" name="cashondelivery" class="flex-c-m stext-101 cl0 size-103 bg-info bor1 hov-btn2 p-lr-15 trans-04">Cash On Delivery</button>

					</div>
					<div class="row mt-3">
						<i class="fas fa-hand-holding-usd mr-2 mt-3"></i>
						<button type="submit" name="action" value="razorpay"  class="flex-c-m stext-101 cl0 size-103 bg-success bor1 hov-btn2 p-lr-15 trans-04" id="rzp-button1">Pay with Razorpay</button>

					</div>
					<div class="row mt-3">
						<i class="fas fa-wallet mr-2 mt-3"></i>
						<button type="submit" name="walletpayment" class="flex-c-m stext-101 cl0 size-103 bg-warning bor1 hov-btn2 p-lr-15 trans-04">Pay Using Wallet</button>

					</div>
					
					

					

				</div>
				
				{% comment %} <button type="submit" name="action" value="razorpay"  class="btn btn-success" id="rzp-button1">Pay with Razorpay</button> {% endcomment %}
			
	
			</div>
			
			
			



		</form>

			
			



			

		

			







			
			{% comment %} <a href=>
				<button type="button" class="btn btn-primary">Cash On Delivery</button>

			</a> {% endcomment %}
			
			
			
			


		</div>
		<div class="mt-4">
			{% if messages %}
				{% for message in messages %}
					<div class="pl-5 alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	
		

	</div>
	<hr>
</div>
<br>




{% comment %} Add address Modal {% endcomment %}
<div class="modal mt-5" id="addaddress_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content mt-5">
		<div class="modal-header">
		  <h5 class="modal-title">Add Address</h5>
		  <button type="button" class="closeit close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <!-- Address form -->
		  
		 
			<div class="form-group">
			  <label for="housename">House Name:</label>
			  <input type="text" class="form-control" id="housename" name="housename" placeholder="Enter house name" Required>
			  <span class="text-danger" id="error_housename"></span>
			</div>
			<div class="form-group">
			  <label for="country">Country:</label>
			  <input type="text" class="form-control" id="countryname" name="countryname" placeholder="Enter country" Required>
			  <span class="text-danger" id="error_countryname"></span>
			</div>
			<div class="form-group">
			  <label for="state">State:</label>
			  <input type="text" class="form-control" id="statename" name="statename" placeholder="Enter state" Required>
			  <span class="text-danger" id="error_statename"></span>
			</div>
			<div class="form-group">
			  <label for="district">District:</label>
			  <input type="text" class="form-control" id="districtname" name="districtname" placeholder="Enter district" Required>
			  <span class="text-danger" id="error_districtname"></span>
			</div>
			<div class="form-group">
			  <label for="locality">Locality:</label>
			  <input type="text" class="form-control" id="localityname" name="localityname" placeholder="Enter locality" Required>
			  <span class="text-danger" id="error_localityname"></span>
			</div>
			<div class="form-group">
			  <label for="pincode">Pincode:</label>
			  <input type="text" class="form-control" id="pincodename" name="pincodename" placeholder="Enter pincode" Required>
			  <span class="text-danger" id="error_pincodename"></span>
			</div>
			<div class="modal-footer">
			  <button  class="btn btn-danger closeit" id="">Close</button>
			<button  class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" id="submitaddress">Save Address</button>

			</div>
	
			
			
		 
		</div>
	  </div>
	</div>
  </div>


  <div style="margin-top:100px;" class="modal fade" id="addressconfirmmodal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
 
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelModalLabel">Address Added</h5>
          
            {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
          </button>
        </div>
        <div class="modal-body p-5">
          <p > <h5 style="color:green;"> New address is addded &#x2713; </h5></p>
        </div>
        {% comment %} <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeit" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger closeit" data-dismiss="modal" id="confirmcancel">Cancel Order</button>
        </div> {% endcomment %}
      </div>
    </div>
  </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	$("#applycoupon").click(function(){
		
		
		var couponid=$("#couponid").val();
		var totalamount=$("#totalamount").html()
		$.ajax({
			url:"/applycouponajax/",
			type:"GET",
			data:{

				couponid:couponid,
				totalamount:totalamount
			},
			success:function(response){
				var discounted_amount=response.amount;
				//var couponmessage=response.message;
				$("#totalamount").html(discounted_amount);

				if (response.message_success){
					$("#couponmessage").html(response.message_success +" &#x2713;").addClass("text-success");

				}
				else if(response.message){
					$("#couponmessage").html(response.message).addClass("text-danger");

				}



				//$("#couponmessage").html(couponmessage);
				

			},
			error: function(xhr, status, error) {
				
				console.log(error);
			  }





		})



	})
	
	


</script>

<script>
	$("#addaddress").click(function(){
	  $("#addaddress_modal").modal('show');
	  $(".closeit").click(function(){
		$("#addaddress_modal").modal("hide");
	  })
	  $("#submitaddress").click(function(){
		
		$("#error_housename").html("")
		$("#error_countryname").html("")
		$("#error_statename").html("")
		$("#error_districtname").html("")
		$("#error_localityname").html("")
		$("#error_pincodename").html("")
		var house = $("#housename").val();
		var country = $("#countryname").val();
		var state = $("#statename").val();
		var district = $("#districtname").val();
		var locality = $("#localityname").val();
		var pincode = $("#pincodename").val();
		var error={}
		if (house=="") {

		  $("#error_housename").html("House name can't be empty");
		}
		else if (house.length < 3){

		  $("#error_housename").html("House name should contain minimum three characters")
		}
		else if (country=="") {

		  $("#error_countryname").html("Country name can't be empty");
		}
		else if (!/^[a-zA-Z]+$/.test(country)) {

		  $("#error_countryname").html("Country name can't have numbers");
		}
		else if (country.length < 3) {
	
		  $("#error_countryname").html("Country name should contain minimum three characters")
		}
		else if (state=="") {

		  $("#error_statename").html("State name can't be empty");
		}
		else if (!/^[a-zA-Z]+$/.test(state)) {

		  $("#error_statename").html("State name can't have numbers");
		}
		else if (state.length < 3) {

		  $("#error_statename").html("State name should contain minimum three characters")
		}
		else if (district=="") {

		  $("#error_districtname").html("District name can't be empty");
		}
		else if (!/^[a-zA-Z]+$/.test(district)) {

		  $("#error_districtname").html("District name can't have numbers");
		}
	 
		else if (district.length < 3) {
		
		  $("#error_districtname").html("District name should contain minimum three characters")
		}
		else if (locality=="") {

		  $("#error_localityname").html("Locality name can't be empty");
		}
		else if (!/^[a-zA-Z]+$/.test(locality)) {

		  $("#error_localityname").html("Locality name can't have numbers");
		}
		else if (locality.length < 3) {
		
		  $("#error_localityname").html("Locality name should contain minimum three characters")
		}
		else if (pincode=="") {

		  $("#error_pincodename").html("Pincode name can't be empty");
		}
		else if (isNaN(pincode) || pincode.length !== 6) {
		  $("#error_pincodename").html("Invalid Pincode")
		}
		else{
		 
		  $.ajax({
			url:"/addaddress/",
			type:"GET",
			data:{
			  house:house,
			  country:country,
			  state:state,
			  district:district,
			  locality:locality,
			  pincode:pincode
			},
			success:function(response){
			  $("#addaddress_modal").modal('hide');
			
			  $("#addressconfirmmodal").modal('show');
				  setTimeout(function() {
					$("#addressconfirmmodal").modal('hide');
					window.location.href="/checkout/";
				  }, 1800);
				
			  
			  
			},
			error: function(xhr, errmsg, err) {
			 
			  console.log(xhr.status + ": " + xhr.responseText);
			}


		  })

		}
	   
		 
			


		 




   
		
	  })




	})
   </script>


{% comment %} <script>
	$(".razorpaybutton").click(function(){
		
		
		var couponid=$("#couponid").val();
		var totalamount=$("#totalamount").html()
		$.ajax({
			url:"/applycouponajax/",
			type:"GET",
			data:{

				couponid:couponid,
				totalamount:totalamount
			},
			success:function(response){
				var discounted_amount=response.amount;
				//var couponmessage=response.message;
				$("#totalamount").html(discounted_amount);

				if (response.message_success){
					$("#couponmessage").html(response.message_success).addClass("text-success");

				}
				else if(response.message){
					$("#couponmessage").html(response.message).addClass("text-danger");

				}



				//$("#couponmessage").html(couponmessage);
				

			},
			error: function(xhr, status, error) {
				
				console.log(error);
			  }





		})



	})
	
	


</script> {% endcomment %}

	













{% comment %} <script>
	$(".choosequantity").change(function(){
		var itemid=$(this).data("item-id");
		var quantity=$(this).val();


		$.ajax({
			url:"/quantityupdate/",
			type:"GET",
			data:{
				itemid:itemid,
				quantity:quantity
			},
			success:function(response){
				var result=response.sum;
				var subtotal=response.subtotal;
				$("#amount"+itemid).html(result);
				$(".subtotal").html(subtotal)
			
				

			},
			error: function(xhr, errmsg, err) {
				
				console.log(xhr.status + ": " + xhr.responseText);
			  }





		})



	})






</script> {% endcomment %}









{% endblock content %}




{% block script %}

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	$(document).ready(function() {
		// Listen for click event on the "Apply Coupon" button
		$('#coupon_select').click(function(e) {
			e.preventDefault(); // Prevent the default form submission behavior
	
			// Get the selected coupon code from the select element
			var couponCode = $('#coupon_select').val();
	
			// Send an AJAX request to apply the coupon
			$.ajax({
				url: 'applycoupon/', // Replace with the actual URL to apply the coupon
				method: 'POST',
				data: {
					'coupon_code': couponCode
				},
				success: function(response) {
					// Handle the success response from the server
					console.log(response); // Display or process the response as needed
				},
				error: function(xhr, errmsg, err) {
					// Handle any errors that occur during the AJAX request
					console.log(xhr.status + ': ' + xhr.responseText);
				}
			});
		});
	});
	</script> {% endcomment %}







<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
	"key": "{{api_key}}", // Enter the Key ID generated from the Dashboard
	"amount": "{{amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
	//"currency": "INR",
	"name": "SK8 FACTORY ",
	"description": "Test Transaction",
	//"image": "https://example.com/your_logo",
	"order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
	"handler": function (response){
		//var addressval=$("#addressdropdown").val()

		$.ajax({
			url: '/razorupdateorder/', // Replace with the URL of your update order view
			method: 'GET',
			data: {
				paymentId: response.razorpay_payment_id,
				orderId: response.razorpay_order_id,
				addressval:$("#addressdropdown").val(),
				finalprice:$("#totalamount").text(),


				
			},
			success: function(data) {
				// Handle the response from the server
				// For example, you can display a success message or redirect to a new page
				//alert('Order updated successfully!');
				window.location.href = '../orderplaced/';
			},
			error: function(error) {
				// Handle the error, if any
				// For example, you can display an error message or perform alternative actions
				alert('Error updating order: ' + error.message);
			}
		});



		//alert(response.razorpay_payment_id);
		//alert(response.razorpay_order_id);
		//alert(response.razorpay_signature)
	},
	"prefill": {
	"name": "Gaurav Kumar",
	"email": "gaurav.kumar@example.com",
	"contact": "9000090000"
	},
	"notes": {
	  "address": "Razorpay Corporate Office"
	},
	"theme": {
		"color": "#3399cc"
	}
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){




		//alert(response.error.code);
		//alert(response.error.description);
		//alert(response.error.source);
		//alert(response.error.step);
		//alert(response.error.reason);
		//alert(response.error.metadata.order_id);
		//alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
	rzp1.open();
	e.preventDefault();
}
</script>




	
{% endblock script %}


