{% extends 'store/userdashboard/loggedin.html' %}
{% load static %}


{% block cartquantity %}

        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="{{no_of_cart_items}}">
            <i class="zmdi zmdi-shopping-cart"></i>
        </div>

        <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="3">
            <i class="zmdi zmdi-favorite-outline"></i>
        </a>
        {% endblock cartquantity %}


{% block content %}

<div class="container mx-3 my-5">




    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            Our Story
                        </h3>
    
                        <p class="stext-113 cl6 p-b-26">
                            At Sk8 Factory, we're passionate about all things skating. Whether you're a beginner or a seasoned pro, we've got you covered with a wide range of skates and accessories to fulfill your skating needs. Our mission is to provide high-quality products that enhance your skating experience and keep you rolling in style.
                        </p>
    
                        <p class="stext-113 cl6 p-b-26">
                            Why Choose Sk8 Factory?
                            <br><br><br>
                            <strong>Extensive Selection:</strong> We pride ourselves on offering a diverse range of skates to suit every preference and skill level. From classic quad skates to sleek inline skates, we have something for everyone. Explore our collection and find the perfect pair to match your unique style.
                            <br><br>
                            <strong>Quality Assurance:</strong>		 We understand the importance of durability and performance when it comes to skates. That's why we handpick our inventory from reputable brands known for their exceptional craftsmanship. Rest assured, each pair of skates we carry is built to withstand the rigors of your skating adventures.
                            <br><br>
                            <strong>Expert Advice: </strong>		Our team consists of passionate skaters who possess in-depth knowledge about the sport. We're here to help you make an informed decision. Whether you're unsure about sizing, need recommendations for specific skating styles, or have any questions, our friendly staff is ready to assist you.
                            <br><br>
                            <strong>Accessories and Gear:</strong>		 Skating isn't just about the skates; it's about the whole experience. We offer a wide range of accessories and gear to complement your skating journey. From protective equipment like helmets, knee pads, and wrist guards to stylish apparel and skate tools, we have everything you need to skate with confidence and flair.
                            <br><br>
                            <strong>Community Engagement:</strong>		 Skating is a vibrant community, and we're thrilled to be a part of it. We regularly organize events, workshops, and skate sessions to bring skaters together, fostering a sense of camaraderie and providing opportunities to learn, grow, and share the joy of skating.
                            <br><br>
                            Visit our store today and let Sk8 Factory be your go-to destination for all things skating. We're dedicated to providing exceptional products and services that empower you to embrace the world on wheels.					
                        </p>
    
                        <p class="stext-113 cl6 p-b-26">
                            Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                        </p>
                    </div>
                </div>
    
                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1 ">
                        <div class="hov-img0">
                            <img src="{% static 'store/images/sbpic1.jpg' %}" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            Our Mission
                        </h3>
    
                        <p class="stext-113 cl6 p-b-26">
                            At Sk8 Factory, our mission is to bring the joy of skating to individuals around the globe through our online skate shop. We are passionate about providing a seamless and exciting shopping experience, ensuring that skaters of all ages and skill levels can easily access high-quality skates and gear to fuel their passion for the sport. With our commitment to excellence, inclusivity, and customer satisfaction, we strive to be the go-to destination for skaters seeking their perfect pair of wheels.
                        </p>
    
                        <div class="bor16 p-l-29 p-b-9 m-t-22">
                            <p class="stext-114 cl6 p-r-40 p-b-11">
                                "Skating is not a sport. It's a lifestyle." 
                            </p>
    
                    
                        </div>
                    </div>
                </div>
    
                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="{% static 'store/images/aboutimg.jpg' %}" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>	
    </div>






{% endblock content %}
