{% extends 'storeadmin/index.html' %}

{% block content %}

<div class="container">
  <div class="container">
    <form action="" method="POST">{% csrf_token %}
      <div class="input-group">
        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
          {% comment %} <span class="input-group-text" id="search">
            <i class="icon-search"></i> 
          </span> {% endcomment %}
        </div>
        <input style="background-color:#FFFFF0
        ;" type="text" name="searchitem" class="form-control mt-3" id="navbar-search-input" placeholder="Search coupon" aria-label="search" aria-describedby="search">
        <div>
          <button  type="submit" class="btn btn-primary btn-block mt-3 ml-3">Search</button>
          
        </div>
      </div>
    
    </form>
  
  </div>



    <div class="row justify-content-end">
      <a href="{% url 'addcoupon' %}">
        <button class="btn add-product-btn btn-primary mt-2">Add Coupon</button>
      </a>
    </div>
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Discount</th>
            <th>Min Price</th>
            <th>Max Price</th>
            <th>Is Available</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for item in couponobjs %}
          <tr id="offer{{item.id}}">
            <td>{{ item.code }}</td>
            <td>{{ item.discount_percentage }}</td>
            <td>{{ item.minprice }}</td>
            <td>{{ item.maxprice }}</td>
            <td>{{ item.isavailable }}</td>
            <td>
              <a href={% url 'editcoupon' item.id %}>
                <button class="btn edit-btn btn-warning">Edit</button>
              </a>
            </td>
            <td>
              <button  type="button" class="btn delete-btn btn-danger" data-category-id="{{ item.id }}">Delete</button>
          
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</div>


{% comment %} DELETE MODAL {% endcomment %}
 
<div style="margin-top:100px;" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Confirm Order Cancellation</h5>
        <button type="button" class="close closeit" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeit" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger closeit" data-dismiss="modal" id="deleteconfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>











{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script>
  $(document).ready(function() {
      $(".delete-btn").click(function() {
        var couponid = $(this).data("category-id");
          // Get the selected offer value
        
        // Send an AJAX request to update the offer price
        $.ajax({
          url: "../deletecoupon/" + couponid, // Replace with the URL of your Django view
          type: "GET",
          data: { offer: couponid,
                  
                  
              },
          success: function(response) {
            $("#offer" + couponid).remove();
            // Update the offer price on the page
            var newOfferPrice = response.message;  // Assuming the response contains the updated offer price
            // Update the appropriate HTML element with the new offer price
            //$("#offer_price").text(newOfferPrice);
            alert(response.message);
          },
          error: function(xhr, errmsg, err) {
            // Handle any errors that occur during the AJAX request
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
      });
    });
  </script> {% endcomment %}





  <script>
    $(document).ready(function() {
        $(".delete-btn").click(function() {
          var offerid = $(this).data("category-id");
          
          $("#deleteModal").modal("show");
          $("#deleteconfirm").click(function(){
            
            // Get the selected offer value
          
          // Send an AJAX request to update the offer price
            $.ajax({
              url: "../deletecoupon/" + offerid, // Replace with the URL of your Django view
              type: "GET",
              data: { offer: offerid,
                      
                      
                  },
              success: function(response) {
                $("#offer" + offerid).remove();
                // Update the offer price on the page
                var newOfferPrice = response.message;  // Assuming the response contains the updated offer price
                // Update the appropriate HTML element with the new offer price
                //$("#offer_price").text(newOfferPrice);
                
              },
              error: function(xhr, errmsg, err) {
                // Handle any errors that occur during the AJAX request
                console.log(xhr.status + ": " + xhr.responseText);
              }
            });       
          })
          
        });
        $(".closeit").click(function(){
          $("#deleteModal").modal("hide");
         })
      });
    </script> 



{% endblock content %}