{% extends 'storeadmin/index.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-end">
      <a href="{% url 'addcoupon' %}">
        <button class="btn add-product-btn btn-primary mt-2">Add Coupon</button>
      </a>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Discount</th>
            <th>Min Price</th>
            <th>Max Price</th>
            <th>Is Available</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for item in couponobjs %}
          <tr id="offer{{item.id}}">
            <td>{{ item.code }}</td>
            <td>{{ item.discount_percentage }}</td>
            <td>{{ item.minprice }}</td>
            <td>{{ item.maxprice }}</td>
            <td>{{ item.isavailable }}</td>
            <td>
              <a href={% url 'editcoupon' item.id %}>
                <button class="btn edit-btn btn-warning">Edit</button>
              </a>
            </td>
            <td>
              <button  type="button" class="btn delete-btn btn-danger" data-category-id="{{ item.id }}">Delete</button>
          
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</div>














<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script>
  $(document).ready(function() {
      $(".delete-btn").click(function() {
        var couponid = $(this).data("category-id");
          // Get the selected offer value
        
        // Send an AJAX request to update the offer price
        $.ajax({
          url: "../deletecoupon/" + couponid, // Replace with the URL of your Django view
          type: "GET",
          data: { offer: couponid,
                  
                  
              },
          success: function(response) {
            $("#offer" + couponid).remove();
            // Update the offer price on the page
            var newOfferPrice = response.message;  // Assuming the response contains the updated offer price
            // Update the appropriate HTML element with the new offer price
            //$("#offer_price").text(newOfferPrice);
            alert(response.message);
          },
          error: function(xhr, errmsg, err) {
            // Handle any errors that occur during the AJAX request
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
      });
    });
  </script>







{% endblock content %}