{% extends 'storeadmin/index.html' %}
{% block content %}
<div class="container">
  <div class="container">
    <form action="" method="POST">{% csrf_token %}
      <div class="input-group">
        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
          {% comment %} <span class="input-group-text" id="search">
            <i class="icon-search"></i>
          </span> {% endcomment %}
        </div>
        <input type="text" name="searchitem" class="form-control" id="navbar-search-input" placeholder="Search user" aria-label="search" aria-describedby="search">
        <div>
          <button type="submit" class="btn btn-primary btn-block mt-4 ml-3">Search</button>
          
        </div>
      </div>
    
    </form>
  
  </div>
  
  
  <div class="container">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          {% comment %} <h4 class="card-title">Striped Table</h4> {% endcomment %}
          {% comment %} <p class="card-description">
            Add class <code>.table-striped</code>
          </p> {% endcomment %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Customer Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Block/Unblock</th>
                </tr>
              </thead>
              <tbody>
                {% for item in datas  %}
                <tr>
                  <td>{{item.username}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phonenumber}}</td>
                  <td>
                    {% if item.isblocked %}
                    <a href="{% url 'admin_unblockuser' item.id %}" class="btn btn-success btn-sm">Unblock</a>
                    {% else %}
                    <a href="{% url 'admin_blockuser' item.id %}" class="btn btn-warning btn-sm">Block</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  

</div>






{% comment %} <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>
        <p class="card-description">
          Add class <code>.table-striped</code>
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                    Username
                  </th>
                <th>
                  Customer Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Phone Number
                </th>
                <th>
                  Block/Unblock
                </th>
          
              </tr>
            </thead>
            <tbody>
              {% for item in datas  %}
              <tr>
                <td class="py-1">
                  {{item.username}}
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.email}}
                </td>
                <td>
                    {{item.phonenumber}}
                </td>
                <td>
                  {% if item.isblocked %}
                  <a href={% url 'admin_unblockuser' item.id %}>Unblock</a>
                  {% else %}
                  <a href={% url 'admin_blockuser' item.id %}>Block</a>
                  {% endif %}
                </td>
                
              </tr>
              
              
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
      
      
      
{% endblock content %}