{% extends 'storeadmin/index.html' %}

{% block content %}

<div class="container">

  <div class="container">
    <form action="" method="POST">{% csrf_token %}
      <div class="input-group">
        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
          {% comment %} <span class="input-group-text" id="search">
            <i class="icon-search"></i> 
          </span> {% endcomment %}
        </div>
        <input style="background-color:#FFFFF0
        ;" type="date" name="searchitem" class="form-control mt-3" id="navbar-search-input" placeholder="Enter a date" aria-label="search" aria-describedby="search">
        <div>
          <button  type="submit" class="btn btn-primary btn-block mt-3 ml-3">Search</button>
          
        </div>
      </div>
    
    </form>
  
  </div>


  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Ordered By</th>
          <th>Payment Type</th>
          <th>Quantity</th>
          <th>Date</th>
          <th>Status</th>
          <th>Address</th>
          <th>Edit</th>
      
        </tr>
      </thead>
      <tbody>
        {% for item in orderobjs %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.user.name }}</td>
          <td>{{ item.ordertype }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.orderdate }}</td>
          <td>{{ item.orderstatus }}</td>
          <td>{{ item.address.house }} ,{{ item.address.locality }}</td>
          <td><a href={% url 'admin_editorderstatus' item.id %}><button class="btn edit-btn btn-warning">Edit</button></a></td>
  
          
          {% comment %} <td>
            <a href="{% url 'admin_editproducts' item.id %}">
              <button class="btn edit-btn btn-warning">Edit</button>
            </a>
          </td>
          <td>
            <a href="{% url 'admin_deleteproducts' item.id %}">
              <button class="btn delete-btn btn-danger">Delete</button>
            </a>
          </td> {% endcomment %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  


</div>
      










{% endblock content %}





