{% extends 'storeadmin/index.html' %}

{% block content %}
<form class="p-5" method="POST" action=""> {% csrf_token %}
          
    <div class="form-group mt-2">
      {% comment %} {% for item in content  %} {% endcomment %}
      <label for="username">Name</label>
      <input value="{{content.name}}" name="name" type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group mt-2">
      <label for="email">Price</label>
      <input value="{{content.price}}" name="price" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group mt-2">
      <label for="inputPassword">Quantity</label>
      <input  value="{{content.quantity}}"  name="quantity" type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group mt-2">
      <label for="inputConfirmPassword">Category </label>
      <input  value="{{content.category.name}}"   name="category" type="text" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
    </div>
    <div class="form-group mt-2">
      <label for="inputImage">Image</label>
      <input name="image" type="file" class="form-control-file" id="inputImage">
      
      <img src="{{ content.image.url }}" alt="{{ content.title }}">
      
    </div>
    <div class="form-group mt-2">
        <label for="inputConfirmPassword">Description </label>
        <input value="{{content.description}}"  name="description" type="text" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary mt-4">Update</button>
    <h5>{{successmsg}} {{error}}</h5>
    {% comment %} {% endfor %} {% endcomment %}
  
  </form> 
  



{% endblock content %}



