{% extends 'storeadmin/index.html' %}

{% block content %}


<div class="container">
  <div class="container">
    <form action="" method="POST">{% csrf_token %}
      <div class="input-group">
        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
          {% comment %} <span class="input-group-text" id="search">
            <i class="icon-search"></i>
          </span> {% endcomment %}
        </div>
        <input style="background-color:#FFFFF0
        ;" type="text" name="searchitem" class="form-control mt-3" id="navbar-search-input" placeholder="Search user" aria-label="search" aria-describedby="search">
        <div>
          <button  type="submit" class="btn btn-primary btn-block mt-3 ml-3">Search</button>
          
        </div>
      </div>
    
    </form>
  
  </div>



  <div class="row justify-content-end">
    <a href="{% url 'admin_addcategories' %}">
      <button class="btn add-category-btn btn-primary mt-2">Add Category</button>
    </a>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Category</th>
          <th>Edit</th>
          <th>Block</th>
        </tr>
      </thead>
      <tbody>


        {% comment %} var csrfToken =  $('input[name=csrfmiddlewaretoken]').val(); {% endcomment %}



        {% for item in datas %}
        <tr>
          <td class="py-1">{{ item.name }}</td>
          <td class="py-1">
            <a href="{% url 'admin_editcategories' item.id %}">
              <button class="btn edit-btn btn-warning">Edit</button>
            </a>
          </td>
          <td class="py-1">
          
             {% if item.isblocked %} 
           
              <a href={% url 'admin_blockcategories' item.id %}>

                <button id="blockbutton1{{item.id}}"   type="button " class="btn delete-btn btn-success blockbtn{{item.id}}" data-category-id="{{ item.id }}">Unblock</button>


              </a>
              

              
            
             {% endif %}  

            {% if not item.isblocked %}

            <a href={% url 'admin_blockcategories' item.id %}>

              <button id="blockbutton2{{item.id}}"    type="button" class="btn delete-btn btn-danger blockbtn{{item.id}}" data-category-id="{{ item.id }}">Block</button>
            



            </a>

            
            
            
            {% endif %} 
            

            

             {% comment %} <button  class="btn delete-btn btn-danger" data-category-id="{{ item.id }}">Delete</button> {% endcomment %}
             
            {% comment %} <a href="{% url 'admin_deletecategories' item.id %}">
              <button class="btn delete-btn btn-danger">Delete</button>
            </a> {% endcomment %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>




{% comment %} DELETE MODAL {% endcomment %}
 
<div style="margin-top:100px;" class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Confirm Order Cancellation</h5>
        <button type="button" class="close closeit" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeit" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger closeit" data-dismiss="modal" id="deleteconfirm">Confirm</button>
      </div>
    </div>
  </div>
</div>


{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

  $(".delete-btn").click(function() {
    var categoryId = $(this).data("category-id");
    if (confirm("Are you sure you want to block this category?")) {
        
        $.ajax({
            url: "/storeadmin/deletecategories/" + categoryId + "/",
            type: "DELETE",
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
});  
</script>
   {% endcomment %}
  


{% comment %} <script>
  $(document).ready(function() {
      $(".delete-btn").click(function() {
        
        var categoryid = $(this).data("category-id");
        
        $("#deleteModal").modal("show");
        $("#deleteconfirm").click(function(){
          
          // Get the selected offer value
        
        // Send an AJAX request to update the offer price
          $.ajax({
            url: "../blockcategories/" ,// Replace with the URL of your Django view
            type: "GET",
            data: { categoryid:categoryid,
                    
                    
                },
            success: function(response) {
              
              // Update the offer price on the page
               // Assuming the response contains the updated offer price
              // Update the appropriate HTML element with the new offer price
              //$("#offer_price").text(newOfferPrice);
              if(response.message=="Unblocked"){
                $(".blockbtn"+categoryid).text("Unblocked")
              }
              else if(response.message=="Blocked"){
                $(".blockbtn"+categoryid).text("Blocked")

              }
              
              $("#blockbutton1"+categoryid).text("Unblocked")
              $("#blockbutton1"+categoryid).addClass("btn-success")
              $("#mone").text("HELLO");

            
             
              
            },
            error: function(xhr, errmsg, err) {
              // Handle any errors that occur during the AJAX request
              console.log(xhr.status + ": " + xhr.responseText);
            }
          });       
        })
        
      });
      $(".closeit").click(function(){
        $("#deleteModal").modal("hide");
       })
    });
  </script>  {% endcomment %}


  {% comment %} <script>
    $(document).ready(function() {
        $(".delete-btntwo").click(function() {
          var categoryid = $(this).data("category-id");
          
          $("#deleteModal").modal("show");
          $("#deleteconfirm").click(function(){
            
            // Get the selected offer value
          
          // Send an AJAX request to update the offer price
            $.ajax({
              url: "../blockcategories/", // Replace with the URL of your Django view
              type: "GET",
              data: { categoryid:categoryid,
                      
                      
                  },
              success: function(response) {
                
                // Update the offer price on the page
                  // Assuming the response contains the updated offer price
                // Update the appropriate HTML element with the new offer price
                //$("#offer_price").text(newOfferPrice);
                $("#blockbutton2"+categoryid).text("Blocked")
                $("#blockbutton2"+categoryid).addClass("btn-danger")
                $("#mone").html("HELLO");
              
               
                
              },
              error: function(xhr, errmsg, err) {
                // Handle any errors that occur during the AJAX request
                console.log(xhr.status + ": " + xhr.responseText);
              }
            });       
          })
          
        });
        $(".closeit").click(function(){
          $("#deleteModal").modal("hide");
         })
      });
    </script>  {% endcomment %}
  
  
  
  
  
  {% comment %} $(".delete-btn").click(function() {
    var categoryId = $(this).data("category-id");
    if (confirm("Are you sure you want to delete this category?")) {
        
        $.ajax({
            url: "/storeadmin/deletecategories/" + categoryId + "/",
            type: "GET",
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
});  {% endcomment %}



{% comment %} $(".delete-btn").click(function() {
  var categoryId = $(this).data("category-id");
  if (confirm("Are you sure you want to delete this category?")) {
      var csrfToken = $("meta[name='csrf-token']").attr("content");
      $.ajax({
          url: "deletecategories/" + categoryId + "/",
          type: "POST",
          data: { csrfmiddlewaretoken: csrfToken },
          success: function(response) {
              alert(response.message);
              location.reload();
          },
          error: function(xhr, status, error) {
              alert("Error: " + error);
          }
      });
  }
});   {% endcomment %}







 





  {% comment %} $(".delete-btn").click(function() {
    var categoryId = $(this).data("category-id");
    if (confirm("Are you sure you want to delete this category?")) {
        $.ajax({
            url: "/deletecategories/" + categoryId + "/",
            type: "POST",
            data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
            success: function(response) {
                alert(response.message);
                location.reload();
            },
            error: function(xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
}); {% endcomment %}



{% comment %} <div>
  <div class="row  justify-content-end">
    <a href={% url 'admin_addcategories' %}><button>Add Category</button></a>
  </div>
  <div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
            Category
          </th>

        <th>
          Edit
        </th>
        <th>
          Delete
        </th>
      
      </tr>
    </thead>
    <tbody>
      {% for item in datas  %}
      <tr>
        <td class="py-1">
          {{item.name}}
        </td>
        <td class="py-1">
          <a href={% url 'admin_editcategories' item.id %}>Edit</a>
        </td>
        <td class="py-1">
          <a href={% url 'admin_deletecategories' item.id %}>Delete</a>
        </td>
   
      </tr>
      
      
      {% endfor %}
      
      </tbody>
    </table>
</div> {% endcomment %}







{% endblock content %}